# Temp, bin, and library directories
# Log files
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# test outputs
test*.eps
share/*.eps
opac_test.csv
opac_test_src.csv

#state info for the Opacity Project
share/Opacity-Project/cr*.*
share/Opacity-Project/quikread
share/Opacity-Project/config_reprocess

#package config files
*.pc

#modulefiles
1.*.*
2.*.*
3.*.*
4.*.*

#misc files
*~
*.tar.*

#autotools files
.deps
.libs
Makefile.in
Makefile
ar-lib
m4/libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
libtool.m4
lt~obsolete.m4
missing
stamp-h1
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
compile
.dirstamp

#binaries
1dFlashMovie/1dfm
SuShI/FitViz/FitViz
SuShI/OSCIn-SuShI/OSCIn-SuShI
SuShI/densprof/densprof
SuShI/flash2snec/flash2snec
SuShI/gather_photometry/gather_photometry
SuShI/genjsonfit/genjsonfit
SuShI/gentardis/gentardis
SuShI/getopdata/getopdata
SuShI/gettime/flashtime
SuShI/mve/modelvelev
SuShI/mve_vels/mve_vels
SuShI/opmaptest/opmaptest
SuShI/photosphere/photosphere
SuShI/plotgridqual/plotgrid
SuShI/quikplotFlash/quikplotFlash
SuShI/shex/shex
SuShI/spectra-fit/sf
Vega_filters/Vega_filters
epsplot/testeps
equivwidth/equivwidth
es_gaussian/gaussianprof
genplot/genplot
linfit/linfit
max/max
min/min
msdb/genmsdb
opacity_project/op_config_reprocess
opacity_project/opquikread
plotspectrum/plotspec
statepop/statepop
velocityfield/velfntest
yaml2csv/yaml2csv
kurucz_data/testkurucz
opacity_project/testopp
linerout/ion_cs_test
